<div id="footer">

    <div id="footerCont">
        <div class="sCont" style="margin-left: 15px;">
            <div class="logo" style="font-size: 16px;">
                <a style="color: black; text-decoration: none;" href="@Url.Action("Index", "Home")"> F.H.U. PANELEO<br /><span><i> Leszek Płoszyński</i></span></a>
                
            </div>

            <div class="othCont">
                <h4>Gdzie się znajdujemy?</h4>
                <p>Adres: ul. Obwodowa 6 11-500 Giżycko <i class="icon-home-outline"></i></p>
                <p>Telefon: +48 87 429 86 21 <i class=" icon-phone"></i></p>
                <p>Fax: +48 87 429 86 21 <i class=" icon-print"></i></p>
                <p>Email: l.ploszynski@wp.pl <i class=" icon-mail-alt"></i></p>
            </div>
        </div>

        <div class="sCont">
            <div id="socials">
                <h4>Media społecznościowe</h4>
                <div id="fb">
                    <i class="icon-facebook"></i>
                </div>
                <div id="tw">
                    <i class="icon-twitter"></i>
                </div>
                <div style="clear: both;"></div>
                <h3>Usługi</h3>
                <ul>
                    <li><p>Dowóz produktów</p></li>
                    <li><p>Doradctwo</p></li>
                    <li><p>Reklamacja</p></li>
                    <li><p>Projektowanie wnętrz</p></li>
                    <li><p>Sprzedaż</p></li>
                </ul>
            </div>

        </div>
        <div class="ident">
            <h4>Godziny otwarcia:</h4>
            <p>Pn-Sob.</p> 9:00-19:00
            <p>Niedz.</p> 9:00-14:00
            <br /><br />
            <h4>Firma:</h4>
            <p>Kariera w PANELEO</p>
            <p>Popularne marki</p>
            <p>PANELEO Polska</p>
        </div>
        <div class="ident">
            <h4>Partnerzy: </h4>
            <img src="~/Content/Pictures/atlas.gif" style="margin-left:30px;" width="120" height="120" />
            <img src="~/Content/Pictures/partner2.jpg" width="120" height="120" />
            <h4>Regulamin: </h4>
            <h4>Twórcy: </h4>
            <p>Adrian Połubiński, Bartłomiej Płoszyński,</p>
            <p>Krzysztof Pietraszko, Robert Protasiuk</p>

        </div>


        <div style="clear: both;"></div>





    </div>
</div>
