#detailContainer {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}
#secondContainer{
    margin-top: 60px; 
}
#leftPhoto {
    width: 460px;
    height: 530px;
    float: left;
    padding: 10px;
}
#leftPhoto img{
    border: 10px solid #e1e1e1; /*960*/
    width: 440px;
    height: 510px;
}
#leftPhoto img:hover{
    cursor: pointer;
}
#rightAdnotations { /*800 */
    width: 740px;
    float: left;
    height: 520px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    
}
#leftCont {
    width: 300px;
    float: left;
    height: 430px;
    padding: 10px;
}
#company h3 {
    color: #ff7e21;
    letter-spacing: 2px;
}
#informations ul > li{
    margin-top: 5px;
    list-style: circle;
}
#firstP:hover{
    cursor: pointer;
}
#rightCont {
    width: 400px;
    height: 430px;
    padding: 10px;
    float: left;
}
#rightCont h3{
    color: orangered;
    letter-spacing: 2px;
}
#rightCont ul{
    margin-left: 30px;
}
#rightCont ul > li{
    list-style: none;
    height: 110px;
    width: 360px;
    padding: 5px;
    margin-bottom: 30px;
}
#rightCont ul > li:first-child{
    background-color:  #e6e6e6;
   
}
#rightCont ul > li:first-child input[type=text]{
    width: 50px;
    height: 30px;
   
}
#rightCont ul > li:last-child{
   width: 340px;
   height: 100px;
   padding: 10px;
   color: red;
   line-height: 30px;
}
#leftCont1 {
    width: 250px;
    height: 110px;
    float: left;
    border-top-left-radius: 10px;
    background-color: #ff7e21;
    text-align: center;
    font-size: 16px;
    color: white;
}
#leftCont1:hover{
    cursor: pointer;
}
#rightCont1 {
    width: 110px;
    height: 110px;
    float: left;
    font-size: 40px;
    color: white;
    border-bottom-right-radius: 10px;
    background-color: forestgreen;
    text-align: center;
    margin-top: 5px;
}
#rightCont1 p{
    margin-top: 30px;
}
#rightCont1 p:hover{
    cursor: pointer;
}
