.Container {
    width: 1250px;
    padding: 15px; /*1280px*/
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    margin-top: 90px;
   
}

.Content {
    float: left;
    width: 1250px;
 
}

.table {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    border-radius: 9px;
    border: 4px solid #e1e1e1; /*960 */
    letter-spacing: 1px;
    margin-left: 17px;
    margin-bottom: 20px;
    transition: 0.5s;

}

.title p {
    font-family: Arial;
    font-size: 18px;
    width: 185px;
    text-align: unset;
    font-weight: bold;
      
}
.title p:hover{
    padding-left: 5px;
    color: #f4511e;

}
    .title p a {
        font-family: Arial;
        font-size: 18px;
        width: 185px;
        text-align: unset;
        padding: 10px;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
.title p a:hover{
      color: #f4511e;
}
.state p {
    color: forestgreen;
    font-weight: bold;
    padding: 10px;
}

.corp p {
    color: brown;
    font-weight: bold;
    padding: 10px;
}

.rate p {
    font-size: 20px;
    text-align: center;
}


.imgContent p:hover {
    cursor: pointer;
}

.costLook {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 223px;
    height: 50px;
    letter-spacing: 1px;
}

    .costLook:hover {
        cursor: pointer;
    }

.leftLook {
    width: 152px;
    float: left;
    height: 28px;
    padding: 10px;
    padding-top: 12px;
    background-color: #ff7e21;
    border-top-left-radius: 10px;
    margin-top: -2px;
}

.rightLook {
    float: left;
    width: 51px;
    height: 30px;
    background-color: forestgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom-right-radius: 10px;
}
