
.icon-phone:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e801'; } /* '' */
.icon-phone-1:before { content: '\e802'; } /* '' */
.icon-home-outline:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-suitcase:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */