
<div id="prefooter">
    <div id="utility">
        <ul>
            <li><span>&#8811;</span> Zamów bez rejestracji </li>
            <li><span>&#8811;</span> Sprawdź dostępność  </li>
            <li><span>&#8811;</span> Oferta</li>
        </ul>
    </div>
</div>